@import "bootstrap_imports"; 
body{
  padding-top: 70px;
}

textarea{
  width: 100%
}

input{
  width: 100%
}

.caret-left {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    border-right: 5px solid;
}

@import "mine";