body{
  background-color: #f3f3f3;
}

#welcome-text{
  text-align: center;
  margin-top: 5%;
  font-size: 120px;
}

.modal-content{
  background-color: #ecf0f1
}

.modal-header{
  background-color: #007399;
  color: #ecf0f1;
}

.btn-primary{
  background-color: #0099CC;
}

#sign-up{
  font-weight: bold;
  background-color: #d35400;
  color: white;
}

#sign-up:hover{
  background-color: #f39c12;
}

#login{
  background-color: #e67e22;
  color: white;
}

#login:hover{
  background-color: #f39c12;
}