@font-face {
  font-family: 'PENMP';
  src: url('/assets/PENMP___.TTF') format('truetype');
}

body{
  color: #2c3e50;
  /*background-image: url('/assets/blue.png');*/
  background-repeat: repeat;
}

.homepage-pic{
  width: 50%;
  display: inline-block;
  margin: -90px;
}

#welcome-text{
  text-align: center;
  margin-top: 1%;
  font-size: 150px;
  font-family: 'PENMP';
}

.modal-content{
  background-color: #ecf0f1
}

.modal-header{
  background-color: #007399;
  color: #ecf0f1;
}

.btn-primary{
  background-color: #0099CC;
}

#signUp{
  font-weight: bold;
  background-color: #2ecc71;
  color: white;
}

#signUp:hover{
  background-color: #27ae60;
}

#login{
  background-color: #2ecc71;
  color: white;
}

#login:hover{
  background-color: #27ae60;
}

input{
  background-color: #ecf0f1;
  color: #34495e;
  font-size: 1.5em;
  padding: 1%;
  width: 50%;
  height: auto;
}

input:hover{
  background-color: white;
}

.form-control{
    background-color: #ecf0f1;
    color: #34495e;
    font-size: 1.5em;
    padding: 1%;
    width: 50%;
    height: auto;
}

.form-control:hover{
  background-color: white;
}

.dropdown-menu>li>a{
  color: #2c3e50;
}
.dropdown-menu>li>a:hover{
  font-weight: bold;
}

.navbar{
  background-color: #092D38;
}

.control-label{
  color: #092D38;
}