<!-- Footer -->
<hr>
<div class="row" style="background: #333;">
  <div class="col-xs-12">
    <footer style="text-align: center; height: 150px;">
    <br/>
      <p style=" color: #FFF;">&copy; UP CSI 2</p>
    </footer>
  </div>
</div>
