	
	<div class="container-full">
	<div class="row one">
		<div class="col-lg-12">
			<h1 id = "welcome-text">GESTURES<img src="/assets/gestures/sign-letters-nobg/g.png" class="homepage-pic">
			</h1>
			<h2 align="left">Some witty tagline about learning.</h2>
		</div>
	</div>


	 <div class="container-full">
      <div class="row one"><a name="learn"></a>
        <div class="col-lg-12">
          <h2>
          <img src="/assets/books.png">Learn
          </h2>
        <p>As an educator, it is important that one imparts knowledge to one's students. Moreover, the number one way that we use in communicating is oral communication. However there cases on which students have students have disabilities when it comes to oras communication. Thus, the creation of Gestures.</p>
        <p>Gestures is a web application that helps educators learn the language that no one hears. It helps teachers understand the words of the unspoken and opens the possibility for understanding without the use of speech.</p>
        </div>
      </div>

      <div class="row two"><a name="achieve"></a>
        <div class="col-lg-12">
          <h2>
          <img src="/assets/star.png">Achieve
          </h2>
        <p>In a fun and creative manner, Gestures is an avenue for one to learn a skill that might be hard for most in the easiest way possible by creating a set-up that is interactive Through these interactive environments, an educator can extend his/her skills by allowing him/her to track his/her achievements. Moreover, the application simulates different tracks having three levels of difficulty.</p>
        <p>And to ensure that learning is continious, a user can continue his/her current track as his/her progress is saved. </p>
      </div>
    </div>

      <div class="row three"><a name="collaborate"></a>
       <div class="col-lg-12">
       <h2>
          <img src="/assets/collab.png">Collaborate
        </h2>
        <p>And as the application promotes learning through teaching, the app has a module that allows a certain user, given that his/her achievement level reach a certain stage, can add new translations to the database. Upon submitting a new translation, it is then taught to the users in lower levels through the learning module.</p>
        <p>Furthermore, it is also an avenue to connect with other people who use the unsaid language and make the application an avenue for collaborative learning. After all, the best way to measure if a person learned something is by teaching it.</p>
      </div></div>
