<div class="container">
	<h1>My Translations</h1>
	<br><br>

  {{#each item in model}}
	<h3>{{item.phrase}}</h3>
	<h3><small>Difficulty: Easy</small></h3><br>
	<div class="row">
	<img src="/assets/sample-circle.png" alt="" height="7%" width="7%">
	<img src="/assets/sample-circle.png" alt="" height="7%" width="7%">
	</div>
	<br><br>
  {{/each}}

</div>