<div class="container">
	<h1>My Translations</h1>
	<br><br>

  {{#each item in model}}
	<h3>{{item.phrase}}</h3>
	<h3><small>Difficulty: Easy</small></h3><br>
	<div class="row">
	{{#each gesture in item.src}}
		<img src="{{ gesture }}" alt="" height="7%" width="7%">
	{{/each}}
	</div>
	<br><br>
  {{/each}}

</div>