<div class="container">
	<h3>Translate this!</h3>
{{!-- 	<h1 style="text-align:center;">banana</h1>

	<div id="hand-signs" style="text-align:center;">
		<img src="/assets/sample-circle.png" alt="" height="10%" width="10%">
	</div>

	<div id="hand-signs" style="text-align:center;">
		<p>Answer!</p>
	</div>

	<div style="text-align:center;">
		<button class="btn btn-primary">Done!</button>		 --}}
	</div>
</div>